include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpnext_online_store *.css
recursive-include erpnext_online_store *.csv
recursive-include erpnext_online_store *.html
recursive-include erpnext_online_store *.ico
recursive-include erpnext_online_store *.js
recursive-include erpnext_online_store *.json
recursive-include erpnext_online_store *.md
recursive-include erpnext_online_store *.png
recursive-include erpnext_online_store *.py
recursive-include erpnext_online_store *.svg
recursive-include erpnext_online_store *.txt
recursive-exclude erpnext_online_store *.pyc